@import '../../colors.scss';

.button {
  padding: .7em 1em;
  border-radius: 15px;
  border: none;
  outline: none;
  display: grid;
  place-items: center;
  background-color: $button;
  text-decoration: none;
  transition: transform .3s;
  cursor: pointer;
  font-family: inherit;

  &:hover {
    transform: scale(1.2);
  }
}
