@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import 'colors';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $background;
  font-family: 'Caveat', cursive;
}
